* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/*regole di debug*/

/*.debug #sidebar {
    background-color: aqua;
}*/

/*.debug main {
    background-color: cornflowerblue;
}*/

/*.debug footer {
    background-color: grey;
}*/

/*.debug #cta {
    background-color: darkorange;
}*/

/*.debug .navbar {
    background-color: darkblue;
}*/



/*.debug .album li {
    background-color: brown;
    height: 100px;
}*/


/*UTILITIES*/

.d-flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.f-column {
    flex-direction: column;
}
.overflow-scroll {
    overflow-y: scroll;
}
.overflow-hidden {
    overflow-y: hidden;
}
.hidden {
    display: none;
}
.text-center {
    text-align: center;
}
.mg-l1 {
    margin-left: 0.5rem;
}
.mg-r1 {
    margin-right: 1rem;
}
.pd-t-1 {
    padding-top: 1rem;
}
.text-white {
    color: white;
} 
.text-grey {
    color: #6e6e6e;
}
.btn {
    border: solid 1px white;
    border-radius: 50px;
}

/*CODICE ASIDE*/

#sidebar {
    width: 50px;
    height: calc(100vh - 100px);
    background-color: black;
    padding-top: 1rem;
    font-size: 14px;
    font-weight: bold;
}

.insidebar {
    width: 100%;
    min-height: 500px;
    height: calc(100% - 80px);
}


.logo_big {
    width: 60%;
    display: none;
}

.logo_small {
    width: 60%;
}

.spot_links {
    margin-top: 1rem;
}

.spot_links img {
    display: inline-block;
    height: 30px;
}

.link {
    margin-top: 0.5rem;
    height: 30px;
}

.link span {
    vertical-align: top;
    height: 30px;
    line-height: 2;
}

.made_playlist i {
    transform: scale(2);
    margin: 12px 12px 12px 8px;
}

.insidebar h4 {
    margin-top: 1rem;
}

.items_play li {
    line-height: 2rem;
}

.side_foot {
    height: 80px;
    width: 90%;
    margin: auto;
}

.items_play {
    list-style: none;
}

.circle-a {
    font-size: 10px;
    width: 15px;
    height: 15px;
    border: solid 1px white;
    border-radius: 50%;
    padding: 1px 3px 3px 3px;
}

.side_foot img {
    background-color: lightgrey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.side_foot span {
    margin-left: 10px;
}

.side_foot {
    justify-content: space-around; 
    height: 80px;
    align-items: center;
}




/*CODICE CONTENT*/

#cta {
    width: calc(100% - 50px);
    margin-left: 50px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #080b12;
    filter: opacity(0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-big {
    width: 230px;
    font-size: 15px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
}

.content {
    width: calc(100% - 50px);
    height: calc(100vh - 100px);
    padding-top: 70px;
    background-color: #141922;
} 

.title {
    margin-left: 0.5rem;
    margin-top: 2rem;
}

.subtitle {
    margin-left: 0.5rem;
}

.menu li {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 1rem;
}

.marked {
    border-bottom: solid 2px #adff2f;
    width: 30px;
    margin: auto;
}

.content ul {
    list-style: none;
}



.album li {
    width: calc(50% - 2rem);
    margin: 2rem auto;
    text-align: center;
}

.album li img {
    width: 100%;
    margin-bottom: 1rem;
}

/*CODICE FOOTER*/

footer {
    width: 100%;
    height: 100px;
    z-index: 9;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

.left-foot {
    width: calc(155px - 1rem);
    margin: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.middle-foot {
    width: calc(40% - 1rem);
    margin: 0.5rem;
    height: 60px;
}

.right-foot {
    width: calc(155px - 1rem);
    margin: 0.5rem;
    padding-left: 8px;
}

.left-foot img {
    width: 30px;
    height: 30px;
}

.song_play {
    margin-right: 1rem;
}

.icons_song {
    margin-right: 1rem;
}

.icons_song i {
    display: block;
    margin-bottom: 3px;
}

.middle-top {
    width: 220px;
    justify-content: space-between;
    align-self: center;
    margin-top: 0.5rem;
}

.play-btn {
    transform: scale(2);
}

.middle_bottom span {
    font-size: 12px;
    display: inline-block;
}

.middle_bottom {
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

.progress_bar {
    width: 70%;
    height: 4px;
    background-color: #6e6e6e;
    border-radius: 5px;
}

.inside_progress {
    width: 40%;
    height: 4px;
    background-color: #15d303;
    border-radius: 5px;
}

.inside_progress_volume {
    width: 20%;
    height: 4px;
    background-color: #15d303;
    border-radius: 5px;
}
.progress_bar_volume {
    width: 50%;
    height: 4px;
    background-color: #6e6e6e;
    border-radius: 5px;
    margin-top: 3px;
}

.right-foot i {
    font-size: 0.8rem;
    margin-right: 8px;
}

/*MEDIAQUERY*/

@media screen and (min-width: 576px) {
    #sidebar {
        width: 250px;
        padding-left: 0.5rem;
    }
    .logo_small {
        display: none;
    }
    .logo_big {
        display: block;
    }
    .content {
        width: calc(100% - 250px);
    }
    #cta {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
    .hidden {
        display: flex;
        display: inline-block;
    }
    .side_foot {
        justify-content: space-around;
        align-items: unset;
    }
}

@media screen and (min-width: 768px) {
    .album li {
        width: calc((100% / 4) - 1rem);
        margin: 2rem 0.5rem;
    }
}


@media screen and (min-width: 992px) {
    .album li {
        width: calc((100% / 6 ) - 1rem);
        margin: 2rem 0.5rem;
    }

    .left-foot {
        width: calc(200px - 1rem);
    }

    .right-foot{
        width: calc(200px - 1rem);
    }

    .left-foot .align {
        display: inline;
    }

    .left-foot h5 {
        vertical-align: center;
    }

    .left-foot h6 {
        vertical-align: center;
    }

}
